<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Two_tier_Application.Properties.Settings.LongMeter_DataConnectionString"
            connectionString="Data Source=140.118.5.90,14433;Initial Catalog=LongMeter_Data;Persist Security Info=True;User ID=SQL_Admin;Password=Admin201121"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>